<!DOCTYPE html>
<html>
<head>
	<title>PHARMACY APP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">    
	<link rel="stylesheet" type="text/css" href="/css/cart.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="https://js.stripe.com/v3/"></script>
</head>
<body>
	<main class="page">
	 	<section class="shopping-cart dark">
	 		<div class="container">
				<% if(Error !='') {%>
					<h3 style="color: red"><%= Error %></h3>
				  <% } %>
				
		        <div class="block-heading">
		          <h2>Shopping Cart</h2>

		          <p>Your Medicines  </p>
		        </div>
		        <div class="content">
	 				<div class="row">
	 					<div class="col-md-12 col-lg-8">
	 						<div class="items">
				 				<div class="product">
									<% if(Message !='') {%>
									<% Message.forEach(function(cart) { %>
				 					<div class="row">
					 					<div class="col-md-3">
					 						<img class="img-fluid mx-auto d-block image" src="
											 /medicineUploads/<%= cart.MedicineId.ProductPictures[0].img %>">
					 					</div>
					 					<div class="col-md-8">
					 						<div class="info">
						 						<div class="row">
							 						<div class="col-md-5 product-name">
							 							<div class="product-name">
								 							<a href="#"></a>
								 							<div class="product-info">
									 					<div>Name: <span class="value"><%= cart.MedicineId.Name %></span></div>
									 							<div>Description: <span class="value"><%= cart.MedicineId.Description %></span></div>
									 							<div>Memory: <span class="value">32GB</span></div>
									 						</div>
									 					</div>
							 						</div>
							 						<div class="col-md-4 quantity">
							 							<label for="quantity">Quantity:</label>
							 							<p id="quantity" type="number" class="form-control quantity-input"><%= cart.Quantity %></p>
							 						</div>
							 						<div class="col-md-3 price">
							 							<span>❌ ₹ <%= cart.MedicineId.Price %></span>
							 						</div>
							 					</div>
							 				</div>
					 					</div>
					 				</div>
									 <% }) %>
									
				 				</div>
				 				
				 			</div>
			 			</div>
			 			<div class="col-md-12 col-lg-4">
			 				<div class="summary">
			 					<h3>Summary</h3>
			 					<div class="summary-item"><span class="text">Subtotal</span><span class="price">₹<%= subTotal %></span></div>
			 					<div class="summary-item"><span class="text">Discount</span><span class="price">₹0</span></div>
			 					<div class="summary-item"><span class="text">Shipping</span><span class="price">₹0</span></div>
			 					<div class="summary-item"><span class="text">Total</span><span class="price">₹<%= subTotal %></span></div>
			 					
							<a href="/api/customer/DB_order/COD">		<button type="button" class="btn btn-primary btn-lg btn-block" id="COD">COD</button>
							</a>
										
									
									<button type="button" class="btn btn-primary btn-lg btn-block" id="btn">Payment On Card</button>
				 			</div>
			 			</div>
		 			</div> 
		 		</div>
				 
	 		</div>
		</section>
		<% } %>
	</main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51KXiUISF3sNBAnKOPYbeF8HlUzgcYyM52hMyRCHp2BEZnyPatrCidozz3dDE6esHSv45DDBqCLabcPthuX1CiHbM00cgyEFGqb");
    var checkoutButton = document.getElementById("btn");

    checkoutButton.addEventListener("click", function () {
      fetch("/api/customer/orderBycart", {
        headers: {'Content-Type': 'application/json'},
        method: "POST"
      
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
	
	
	

		
 
 </script>
</body>
</html>
